<li>
  <button
    mat-button
    mat-raised-button
    color="accent"
    (click)="exportExcelPost()"
  >
    Exportar Excel de Posts 
  </button>
</li>

<li>
  <button
    mat-button
    mat-raised-button
    color="accent"
    (click)="exportExcelUser()"
  >
    Exportar Excel de Usuarios
  </button>
</li>

<li>
  <button
    mat-button
    mat-raised-button
    color="accent"
    (click)="exportExcelSubreddit()"
  >
    Exportar Excel de Subreddit
  </button>
</li>

<div class="reddit-body">
  <div class="container">
    <div class="row">
      <hr />
      <div class="col-md-9">
        <app-post-tile [posts]="posts"></app-post-tile>
      </div>
      <div class="col-md-3">
        <app-side-bar></app-side-bar>
        <app-subreddit-side-bar></app-subreddit-side-bar>
      </div>
    </div>
  </div>
</div>